debugpy
delta-spark==3.2.0
fastparquet==2023.10.1
minio==7.2.7
papermill==2.5.0
psycopg2-binary==2.9.9
pyarrow==13.0.0
pymssql==2.2.11
pyspark==3.5.2
python-dotenv==1.0.0
SQLAlchemy==1.4.51
pyodbc==5.1.0
imbalanced-learn==0.12.3
s3fs==2024.6.1
statsmodels==0.14.0
numpy==1.24.4
matplotlib==3.8.0
holidays==0.53
PyYAML==6.0.1
py7zr==0.22.0
ruamel.yaml==0.18.5
croniter==2.0.1
XlsxWriter==3.2.0